@use './../../styles/mixins.scss' as *;


.pathContainer {
  @include horizontalSpace;
  @include paddingY(10px);
  border-bottom: 1px solid rgba(235, 228, 228, 0.986);
  white-space: wrap;
  width: 100%;
  @include marginTop;
  word-wrap: break-word;

  .pathItem {
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
}