@use './../../../styles/mixins.scss' as *;
@use './../../../styles/variables.scss' as *;

.itemContainer {
  @include row;
  align-items: center;
  position: relative;
  cursor: pointer;
  @include marginX(15px);

  .badge {
    position: absolute;
    right: 28px;
    top: 12px;
    @include centerRow;
    @include circle(16px);
    background-color: $secondaryColor;
    padding: 5px;
    font-size: $smallFont;
  }

  .itemText {
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 5px;

    @include breakpoints($xs) {
      visibility: hidden;
    }

    @include breakpoints($sm) {
      visibility: visible;
    }
  }
}