// Colors
$bgColor: #3c3c3b;
$primaryColor: #542e90;
$secondaryColor: #fff200;
$textWhite: #FFF;
$textGrey: #6c757d;


// Screens
$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Spaces
$Padding_X_lg: 180px;
$Padding_md: 120px;
$Padding_X_sm: 18px;

// Font Sizes
$smallFont: 12px;
$inputFont: 16px;